@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import url('https://fonts.googleapis.com/css?family=Kreon:400,700');
@font-face {
    font-family: 'Roboto-Light';
    src: url('../fonts/Roboto-Light.woff') format('woff')
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #5e6977;
    
}
.fixed body{padding-top:600px}
img {
    max-width: 100%
}
a:hover {
    text-decoration: none;
}
header {
   padding: 38px 0px;
   background: url(../images/bg_header.jpg) no-repeat; background-size:cover;
   transition:all .5s;
}
.fixed header {
    position: fixed;
    top: 0;
    width: 100%;
	transition:all .5s;
    z-index: 999;
	padding-top:0; padding-bottom:0;
	background:#000;}
.logo {
   display:none;
}
#navbar {
    margin-top: 0px;
}
.retina_ready {
    display: none
}
.navbar-nav{margin:auto; width:100%; text-align:center;}
.navbar-nav > li {
    float: none;
	display:inline-block;
}

.nav > li > a {
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    padding: 10px 25px;
    margin: 0;
	text-align:center;
	border-radius:3px;
	letter-spacing:.1em;
	text-transform:uppercase;

}
.nav > li > a:hover {
    background: #943195;

}
.banner{margin-top:30px;}
.btn-trynow{background:#943195; font-size:14px; color:#fff; font-weight:bold; letter-spacing:.1em; text-transform:uppercase; margin-right: 35px; padding: 9px 25px;}
.btn-trynow:hover{background:#5DB246; color:#000;}
header .heading{font-size:30px; margin-top:30px; color:#fff; font-weight:bold;  font-family:'Kreon'; font-weight:bold; text-transform:uppercase;}
.buttons{margin-top:30px}
.video_outer{
	 background: rgba(0, 0, 0, 0) url("../images/vids-frame.png") no-repeat scroll center center;
    height: 270px;
    padding: 20px 29px 27px 28px;
    width: 440px;
	margin:auto;
	}
	
	.videoWrapper{
	position: relative;
	padding-bottom: 55%; /* 16:9 */
	padding-top: 19px;
	height: 0;}
	
	.videoWrapper iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.infotext{border:3px solid #fff; border-radius:10px; padding:15px; color:#fff; background:rgba(0,0,0,.5); width:440px; margin:auto; font-size:.75em}
.bordered{border:3px solid #943195; border-radius:10px;}

.jumbotron p{font-size:16px;}

footer a .fa {width:45px; height:45px; background:#fff; border-radius:50%; line-height:45px; font-size:26px; text-align:center; margin:10px;}

.container .jumbotron {
    background: none;
    padding-left: 0;
    padding-right: 0
}
section{margin:0}
.fixed .menu_logo img{width:200px; height:auto; transition:all .5s;}
.intro{transition:all .5s; background:#f4f3f4; margin-bottom:0}
.steps{background:#fff;}
.steps p{margin:0 20%;}
.arrow_steps:after{content:url('../images/arrow-left.png'); position:absolute; right:0; top:10px;}
.step_img{margin-bottom:30px;}
p.whychoose_text{margin:20px 10%; font-size:16px; font-weight:500; text-align:center; color:#943195}
.trynow_sec{border:3px solid #943195; border-radius:10px; text-align:center; width:100%; max-width:350px; margin:auto; padding:30px}
.product_img{margin:20px auto; display:block;}
.whychoose h2,.faq h2{font-size:20px; padding:0; margin:0; color:#943195; font-weight:500; }
.cross::after {
    border: 1px solid #a30f00;
    content: "";
    position: absolute;
    right: 40%;
    top: 12px;
    transform: rotate(12deg);
    width: 60px;
}
.cross {
    font-size: 18px;
    position: relative;
	font-weight:500;
	font-style:italic;
}
.sale{font-weight:600; font-size:24px}
.form-zero{display:inline}
.form-zero .btn-trynow{margin:0}
.buttons div{float:left; width:50%; text-align:center;}
.trynow_sec h2{margin:0; padding:0}
.rattings{text-align:center; margin-bottom:50px}
.rattings h2{margin:0; padding:0}
.rattings .fa{font-size:30px; color:#fdd030}
.bx-wrapper{min-height:285px}
.jumbotron h1 {
    font-family: 'Roboto-Light';
    font-size: 52px;
    color: #43484d;
    ;
    margin-bottom: 30px
}
.jumbotron p.lead {
    font-family: 'Roboto-Light';
    font-size: 22px;
    margin: 0 52px;
}
.services {
    margin: 50px 0px;
}
.service_container {
    display: table;
}
.service_icon,
.service_text {
    display: table-cell;
    padding: 10px;
    vertical-align: top
}
.service_icon {
    width: 76px
}
.service_text {
    padding: 10px 30px 10px 20px;
}
.service_text h2 {
    font-size: 18px;
    color: #43484d;
    margin-top: 0;
    line-height: 18px
}
.service_text p {
    font-size: 16px;
    color: #86939e;
}
.slider {
    min-height: 395px;
}
.learnmore a {
    color: #358ed7;
    position: relative;
    font-weight: 500
}
.learnmore a:after {
    content: url(../images/icon_next.png);
    margin-left: 10px;
    margin-top: 1px;
    position: absolute
}
.steps .row {
	display:-webkit-flex;
    display:-webkit-box;
    display: flex;
    -webkit-box-align: center; /* align-items */
    align-items: center
}

/*----------testimonials slider-------------------*/

.testimonial-slider {
    position: relative;
}
.testimonial-slider .slide-content {
    background: #f5e13b none repeat scroll 0 0;
    border: 1px solid #decc35;
    border-radius: 10px;
    color: #3a4145;
    margin-bottom: 30px;
    padding: 25px 30px;
    position: relative;
}
.testimonial-slider .slide-info {
    min-height: 80px;
    padding-left: 90px;
    padding-top: 15px;
    position: relative;
}
.testimonial-slider .slide-content::before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #decc35 transparent transparent;
    border-image: none;
    border-style: solid;
    border-width: 16px 18px 18px;
    bottom: -33px;
    content: "";
    left: 19px;
    position: absolute;
}
.testimonial-slider .slide-content::after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #f5e13b transparent transparent;
    border-image: none;
    border-style: solid;
    border-width: 15px;
    bottom: -28px;
    content: "";
    left: 22px;
    position: absolute;
}
.testimonial-slider .slide-info h5 {
    color: #3a4145;
    font-size: 15px;
    font-weight: 700;
    text-transform: capitalize;
}
.testimonial-slider .slide-info p {
    font-style: italic;
}
.testimonial-slider .bx-pager {
    bottom: 80px;
    position: absolute;
    right: 0;
    z-index: 100;
}
.testimonial-slider .bx-pager-item {
    display: inline-block;
    height: 12px;
    margin: 0 3px;
    width: 12px;
}
.testimonial-slider .bx-pager-link:hover, .testimonial-slider .bx-pager-link.active {
    background: #f5e13b none repeat scroll 0 0;
    border-color: #decc35;
}
.testimonial-slider .bx-pager-link {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 2px solid #1a1a1a;
    border-radius: 50%;
    display: block;
    font-size: 0;
    height: 12px;
    overflow: hidden;
    position: relative;
    text-indent: 100px;
    width: 12px;
}
figure {
    margin: 0;
}
.testimonial-slider .slide-info .author-thumb {
    border: 2px solid #decc35;
    height: 74px;
    left: 0;
    position: absolute;
    top: 0;
    width: 74px;
}
/*------------------end slider------------------*/

section.jumbotron{margin:0}
.community{background:none}

.prpl{color:#993399}
.testimonials{background:#ede7eb}
.faq{background:#F4F3F4}
.supplement_img{padding:10px; border:3px solid #943195; background:#fff; border-radius:10px }

.faq h2{margin-top:30px}

.tri-pack{max-width:200px;}

.my-slider p {
    font-size: 16px;
    font-weight: 400;
    margin: 20px 0px;
    color: #86939e
}
.my-slider h2 {
    font-size: 32px;
    font-family: 'Roboto-Light';
}
.unslider-nav {
    list-style-type: none;
    margin: 45px 0 0;
    padding: 0;
    text-align: left
}
.unslider-nav ol {
    text-align: left
}
.unslider-nav ol li {
    background: #e7e9ec;
    width: 12px;
    border-radius: 50%;
    height: 12px;
    border: 2px solid #fff;
}
.unslider-nav ol li.unslider-active {
    background: #358ed7;
    border: 2px solid #358ed7;
}
.unslider-arrow.prev {
    display: none
}
a.unslider-arrow.next {
    text-indent: -999em;
    width: 40px;
    height: 40px;
    background: url(../images/icon_navigation.png) no-repeat center;
    right: 0;
    display: block;
    top: calc(50% - 20px);
    position: absolute;
    opacity: .7;
    transition: all .2s;
}
a.slide_navigation:hover {
    opacity: 1
}
.intro_pricing {
    background: #EDE7EB;
}
.pricing_wrap {
    border-radius: 10px;
    background: #fff;
    float: left;
	display:-webkit-flex;
    display:-webkit-box;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
	width:100%;
}
.pricing {
    width: 33%;
    padding: 30px;
    text-align: center
}
.pricing h2 {
    font-size: 18px;
    margin: 0;
    color: #94319F;
    text-transform: uppercase
}
.pricing h3 {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
	margin-top:30px;
    color: #86939e;
}
.fee {
    color: #86939e;
    font-weight: 400
}
.btn.trynow{background:#5DB246; color:#fff;}
#business h2,
#business h3,
#business .price,
#business .description,
#business .fee {
    color: #fff;
}
#business h2 {
    opacity: .85
}
#business .description,
#business h3 {
    opacity: .85
}
.pricing hr {
    background: #e1e8ee;
    border: none;
    height: 1px;
    margin: 30px 0px
}
#business hr {
    background: #61bdda
}
.price {
    font-size: 52px;
    margin-top: 20px;
    color: #43484d
}
.description {
    margin-top: 30px;
    font-size: 16px;
    color: #86939e;
}
.pricing_attr {
    list-style-type: none;
    font-weight: 400
}
.pricing_attr li {
    text-align: left;
    margin-bottom: 30px;
    position: relative;
}
.pricing_attr li:before {
    content: "";
    position: absolute;
    width: 8px;
    height: 15px;
    border-right: 2px solid #86d35d;
    border-bottom: 2px solid #86d35d;
    left: -30px;
	-webkit-transform: rotate(48deg);
    transform: rotate(48deg);
}
.pricing_attr li.inactive {
    color: #bfc7ce
}
.pricing_attr li.inactive:before {
    display: none
}
.btn_pricing {
    margin-top: 40px;
    padding: 10px;
    font-size: 16px;
    color: #586473;
    background: #EDE7EB;
    
}
.btn_pricing:hover { color: #fff;
    background: #94319F;}
#business {
    width: 34%;
    background: #94319F;
    color: #fff;
}
#business .btn_pricing {
    background: #7dc855;
    color: #fff;
    
}
#business .btn_pricing:hover {
 color: #586473;
    background: #EDE7EB;
}
.bottom {
    padding-top: 170px;
    background: #5e6977;
    color: #fff;
    padding-bottom: 70px
}
.bottom h1 {
    color: #fff
}
.bottom .jumbotron {
    margin-bottom: 0
}
.bottom .jumbotron p.lead {
    opacity: .8
}
.bottom button {
    background: #7dc855;
    color: #fff;
    padding: 15px 40px;
    margin-top: 50px;
    font-size: 16px
}
.partners h2 {
    font-size: 18px;
    opacity: .6
}
.logo-partners {
    margin-top: 5px;
}
.logo-partners img {
    margin: 25px;
}
footer {
    background: #545e6b;
    padding: 50px 0px;
    color: #fff;
   
}
.footer_desc {
    opacity: .6;
    font-size: 11px;
    font-weight: 400;
	background:#5b6879;
	border-radius:5px;
	padding:15px;
}
footer h2 {
    font-size: 18px;
    margin: 0
}
footer ul {
    list-style-type: none;
    margin: 15px 0px;
    padding: 0
}
footer ul li {
    margin-bottom: 10px
}
footer ul li a {
    color: #fff;
    opacity: .6;
    font-size: 14px;
    font-weight: 400
}
footer ul li a:hover {
    opacity: 1;
    color: #fff;
}
.menu_footer {
    width: 100%;
    float: left;
    padding-bottom: 20px
}
footer select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background: url(../images/arrow-select.png) no-repeat right 10px center;
    width: 115px;
    color: #babec2;
    font-size: 16px;
}
.killscroll {
    overflow-y: scroll;
    position: fixed;
    width: 100%;
}
#scrolltop {
    width: 40px;
    height: 40px;
    background: #eee;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 30px;
    font-size: 20px;
    padding-top: 7px;
    text-align: center;
    cursor: pointer
}
#language img {
    margin-top: -3px
}
.nav-dot {
    height: 10px;
    width: 10px;
    border-radius: 50px;
    background: #e7e9ec;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}
.nav-dot.active_item {
    background: #358ed7;
}
.item {
    position: absolute;
    top: 10px;
    opacity: 0;
    overflow: visible;
    visibility: hidden;
    transition: opacity, 0.3s, ease;
    padding-bottom: 10px;
    font-family: $font-brand-lighter;
}
.slider-wrap {
    position: relative;
}
.active-box {
    opacity: 1;
    visibility: visible;
}
.nav-dots {
    clear: both;
    margin-top: 30px;
    position: absolute;
    bottom: 0
}
#basic{
	border-right:1px solid #F4F4F4;	
}
@media(max-width:1199px) and (min-width:992px) {
	.nav > li > a {padding: 10px 12px;}
	.whychoose h2, .faq h2{font-size:17px}
	.jumbotron p{font-size:15px;}
    .jumbotron h1 {
        font-size: 42px
    }
    .description {
        font-size: 14px
    }
    footer select {
        width: 110px;
        background: url(../images/arrow-select.png) no-repeat right 0px center;
    }
    .unslider-nav {
        margin-top: 10px
    }
}
@media(max-width:992px) and (min-width:768px) {
	.nav > li > a {padding: 10px 5px;}
	.nav > li > a > img,.fixed .menu_logo img{width:150px}
	.infotext,.video_outer{width:100%}
	.video_outer{background: rgba(0, 0, 0, 0) url("../images/vids-frame.png") no-repeat;
	background-size:100%; height:auto;
	padding: 15px 22px 15px 20px;
	}
	.footer_desc{margin-bottom:15px;}
	.bx-wrapper{min-height:306px}
    .container .jumbotron {
        width: 100%;
        padding-bottom: 15px;
        padding-top: 24px;
    }
	.tri-pack{max-width:100%}
	.qas{text-align:center}
	.qas ul{margin:auto; text-align:left; width:50%}
    .jumbotron h1 {
        font-size: 42px
    }
    .jumbotron p.lead {
        font-size: 21px;
    }
    .my-slider {
        width: 85%;
    }
    .slider {
        min-height: 310px;
        background-size: 420px !important
    }
    .slid-nav {
        margin: 15px 0 0;
    }
    .slider .row {
        min-height: inherit
    }
    .description {
        font-size: 14px
    }
    .pricing_attr li {
        font-size: 13px;
        margin-bottom: 22px;
    }
    footer select {
        width: 75px;
        font-size: 11px;
        background: url(../images/arrow-select.png) no-repeat right 0px center;
    }
    .footer_desc {
        font-size: 14px;
    }
    footer h2 {
        font-size: 16px
    }
    footer ul {
        marginm: 14px 0px;
    }
    footer ul li {
        margin-bottom: 6px;
    }
    footer ul li a {
        font-size: 14px;
    }
    #language img {
        margin-top: 0px
    }
    .unslider-nav {
        margin-top: 10px
    }
}
@media(max-width:767px) {
	.logo{display:block}
	
	.lg_device{width:150px; float:right}
	header{padding:15px 0px}
	.nav > li > a{color:#000; text-align:left;}
    #navbar {
        background: #fff;
        position: fixed;
        z-index: 99;
        width: 290px;
        -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.47);
        -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.47);
        box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.47);
        display: none;
        top: 65px;
        left: 0;
        height: calc(100% - 65px);
    }
    #navbar ul {
        height: 100%;
        overflow-x: hidden;
        width: 100%;
        margin: 0;
    }
    #navbar ul li {
        display: block;
        text-align: left;
        width: 100%;
        border-bottom: 1px solid #e1e1e1;
    }
    .navbar-toggle {
        background-color: #000;
        left: 30px;
        position: absolute;
        top: 0px;
    }
    #navbar ul li a {
        padding: 20px 30px;
        display: block;
        margin: 0
    }
    #navbar ul li a:hover {
        background: #E4E9ED
    }
    .navbar-toggle {
        border-radius: 0;
        background: #fff;
    }
    .navbar-brand {
        height: auto;
    }
    .navbar-toggle .icon-bar {
        color: #43484d;
        border: 1px solid;
    }
    .logo {
        margin-left: 70px;
    }
	
	
	
    .slider {
        background: none !important;
        min-height: auto
    }
    .my-slider {
        width: 100%;
    }
    .slider img {
        display: block;
    }
    .slider .row {
        min-height: auto;
    }
    .jumbotron h1 {
        font-size: 42px
    }
    .pricing_wrap,
    .pricing,
    #business {
        width: 100%;
        display: block
    }
    #business {
        border-radius: 0;
       
    }
    .menu_footer {
        float: none;
    }
    .footer_desc {
        margin: 30px 0px
    }
    #language {
        position: absolute;
        top: 65px;
        right: 15px
    }
    .unslider-nav {
        margin-top: 10px;
        margin-bottom: 20px
    }
#basic{
	border-right:none;	
	border-bottom:1px solid #F4F4F4;	
}
.fixed header{padding:15px 0px}
.fixed .navbar-toggle{background:none; top:-10px}
.fixed .navbar-toggle .icon-bar{color:#fff; opacity:.8}
.steps .row{display:block}
.arrow_steps{margin-bottom:70px; padding-bottom:50px;}
.arrow_steps::after{
	left:auto; right:auto;
	bottom:-40px;
	top:inherit;
    content: url("../images/arrow-down.png");
	}
	.padded{margin-bottom:30px}
	#navbar ul li.menu_logo{display:none;}
}
@media(max-width:480px){
.infotext,.video_outer{width:100%}
	.video_outer{background: rgba(0, 0, 0, 0) url("../images/vids-frame.png") no-repeat;
	background-size:100%; height:auto;
	padding: 15px 22px 15px 20px;
	}
	.btn-trynow{ margin-right: 15px; padding: 9px 15px;}	
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px),
only screen and ( min–moz-device-pixel-ratio: 2) and (min-width: 320px),
only screen and ( -o-min-device-pixel-ratio: 2/1) and (min-width: 320px),
only screen and ( min-device-pixel-ratio: 2) and (min-width: 320px),
only screen and ( min-resolution: 192dpi) and (min-width: 320px),
only screen and ( min-resolution: 2dppx) and (min-width: 320px) {
    .retina_ready {
        display: inline-block;
        height: auto
    }
    .lg_device {
        display: none;
    }
    .logo .retina_ready {
        width: 78px;
    }
    #language .retina_ready {
        width: 15px;
        margin-top: -3px
    }
    .footer_logo .retina_ready {
        width: 78px
    }
}
@media (min-width: 768px) and (orientation: landscape) {
    #navbar {
        display: block !important;
    }
}